.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 32px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0 20px;
    max-height: calc(100vh - 192px);
    padding: 32px;
    width: clamp(600px - 56px * 2,calc(100vw - 112px),720px);
    background: #fff;

    .modal-header {
        border-radius: 32px;
        align-items: flex-end;
        display: flex;
        flex: 0 0;
        margin: -32px -32px 0;
        padding: 32px 88px 24px 32px;
        
        h2 {
            font-size: 28px;
            font-weight: 600;
            line-height: 40px;
        }

    }

    .modal-body {
        flex: 1 1;
        margin: 0 -5px;
        overflow-y: auto;
        padding: 0 5px;

        .title__wrapper {
            justify-content: space-between;
            width: 100%;
            align-items: center;

            span {
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
            }

        }

        .title {
            font-size: 22px;
            font-weight: 600;
            line-height: 32px;
        }

        .description__wrapper {
            margin-bottom: 8px;
        }

        .near-date__wrapper, .description__wrapper {
            margin-bottom: 8px;
            display: flex;
            gap: 8px;
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;

            .near-date {
                font-weight: 600;
            }

        }

    }

    .modal-divider {
        border-block-start: 1px solid #dce3eb;
        display: block;
        width: 100%;
    }


    .modal-footer {
        display: flex;
        flex: 0 0;
        justify-content: space-between;
        padding-top: 32px;

        &__container {
            display: flex;
            gap: 12px;
        }

        form {
            align-items: flex-start;
            display: flex;
            gap: 20px;
            justify-content: space-between;
            text-align: left;
        }

        .promocode-wrapper {
            display: flex;
            justify-content: flex-end;
            width: 250px;

            .modal-footer__promocode-btn, input {
                padding: 10px 16px;
                border-radius: 12px;
                cursor: pointer;
                display: inline-block;
                line-height: 0;
                position: relative;
                user-select: none;
                -webkit-user-select: none;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 600;
                line-height: 32px;
            }

            input {
                border: 1px solid #0D1322;

                &:focus {
                    border: 1px solid #0070ff;
                }

            }



        }

        .modal-footer__btn {
            border-radius: 1000px;
            background: #0D1322;
            padding: 10px 30px;
            line-height: 32px;
            color: #fff;
        }

    }

    .modal-close-btn {
        position: absolute;
        right: 24px;
        top: 24px;
        
        button {
            width: 40px;
            height: 40px;
            background: none;
        }

    }

}